<h3
  class="text-[#23477d] font-montserrat font-extrabold text-2xl md:text-5xl my-12 ml-4"
  id="services"
>
  Pourquoi choisir SSL Conseil ?
</h3>

<section class="grid grid-cols-1 md:grid-cols-2">
  <!-- Bloc 1 -->
  <div class="bg-[#23477d] text-white p-6 md:p-10">
    <h4 class="text-xl font-bold mb-2 font-montserrat">Au succès</h4>
    <p class="font-lato">
      Nous travaillons "au succès" pour la plupart des besoins que nous traitons
      : vous ne nous rémunérez que lorsque le candidat idéal est embauché ! À
      titre indicatif, nos taux varient entre 17% et 20%, selon le besoin
      traité.
    </p>
  </div>

  <!-- Bloc 2 -->
  <div class="bg-[#FFB781] text-[#23477d] p-6 md:p-10">
    <h4 class="text-xl font-bold mb-2 font-montserrat">Adaptabilité</h4>
    <p class="mb-4 font-lato">
      Chaque collaboration est unique : nous ajustons notre méthode à vos
      pratiques pour une relation fluide et efficace :
    </p>
    <ul class="list-disc list-inside space-y-1">
      <li>Adaptation à vos contraintes opérationnelles</li>
      <li>Process simplifié pour vous libérer du temps</li>
      <li>Conseil RH et transformation digitale</li>
    </ul>
  </div>

  <!-- Bloc 3 -->
  <div class="bg-[#FFB781] text-[#23477d] p-6 md:p-10 order-4 md:order-3">
    <h4 class="text-xl font-bold mb-2 font-montserrat">
      Accompagnement complet
    </h4>
    <p class="font-lato">
      Afin de répondre à la majorité de vos besoins, nous proposons une large
      gamme de services :
    </p>
    <ul class="list-disc list-inside space-y-1">
      <li>Recrutement CDI / CDD</li>
      <li>Délégation de freelances (10 à 15% TJM)</li>
      <li>Conseil RH et transformation digitale.</li>
    </ul>
  </div>

  <!-- Bloc 4 -->
  <div class="bg-[#23477d] text-white p-6 md:p-10 md:order-4">
    <h4 class="text-xl font-bold mb-2 font-montserrat">
      Accompagnement de long terme
    </h4>
    <p class="font-lato">
      Nous avons à cœur d’instaurer des relations durables avec nos clients.
      Chez SSL Conseil, notre priorité est d’offrir un service de qualité et un
      suivi rigoureux, afin de construire une véritable relation de confiance.
      Nos actions s’appuient sur deux piliers essentiels : la transparence et
      l’efficacité.
    </p>
  </div>
</section>
