<footer class="relative bg-[#23477d] text-white">
  <!-- Bandeau principal -->
  <section
    class="relative w-full md:px-6 py-2 flex items-center gap-6 md:pb-6 md:grid md:grid-cols-3 md:items-start md:gap-10"
  >
    <!-- Barre blanche CENTRÉE mobile -->
    <div
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-[50%] w-[2px] h-20 bg-white md:hidden"
    ></div>
    <!-- Séparateur entre LOGO et NAV (md+) -->
    <div
      class="hidden md:block absolute left-[33.333%] top-1/2 -translate-y-1/2 w-[2px] h-32 bg-white/90"
    ></div>

    <!-- Séparateur entre NAV et CONTACT (md+) -->
    <div
      class="hidden md:block absolute left-[66.666%] top-1/2 -translate-y-1/2 w-[2px] h-32 bg-white/90"
    ></div>

    <section
      class="w-full h-full flex items-center justify-center md:justify-start pr-3"
    >
      <img
        src="sslconseillogofondbleu.jpg"
        alt="Logo SSL CONSEIL"
        class="w-full max-h-24 object-contain md:max-h-32 lg:max-h-48"
        loading="lazy"
      />
    </section>

    <!-- ZONE MILIEU Navigation (affichée seulement en md+) -->
    <section
      class="hidden md:grid md:col-1 md:grid-cols-2 md:gap-x-10 md:gap-y-4 lg:gap-y-4 lg:px-12 md:items-center text-sm md:text-sm lg:text-lg mt-4 md:mt-8"
    >
      <div class="group">
        <a
          href="#prestations"
          class="whitespace-nowrap transition-colors duration-300 group-hover:text-[#ff8f3a]"
        >
          Nos Prestations
        </a>
      </div>
      <a
        href="#partenaires"
        class="whitespace-nowrap transition-colors duration-300 hover:text-[#ff8f3a]"
      >
        Nos Partenaires
      </a>

      <a
        href="#offres"
        class="whitespace-nowrap transition-colors duration-300 hover:text-[#ff8f3a]"
      >
        Nos Offres
      </a>

      <a
        href="#contact"
        class="whitespace-nowrap transition-colors duration-300 hover:text-[#ff8f3a]"
      >
        Nous contacter
      </a>

      <a
        href="#services"
        class="whitespace-nowrap transition-colors duration-300 hover:text-[#ff8f3a] md:col-span-2"
      >
        Nos Services
      </a>
    </section>

    <!-- Bloc contact -->
    <section
      class="w-full min-w-0 pl-3 flex flex-col items-start md:items-end gap-2 text-left md:pl-8 md:gap-6 md:w-full md:text-right"
    >
      <!-- Tel -->
      <div class="w-full grid grid-cols-[2.75rem,1fr] items-center md:gap-6">
        <img src="phone.svg" alt="phone" class="w-4 md:w-8 h-4 md:h-8" />
        <a
          href="tel:0630191921"
          class="text-sm md:text-sm lg:text-lg justify-self-end text-right mr-2 md:mr-0"
        >
          05 62 86 96 02
        </a>
      </div>

      <!-- Email -->
      <div class="w-full grid grid-cols-[2.75rem,1fr] items-center">
        <img src="mail.svg" alt="mail" class="w-4 md:w-8 h-4 md:h-8" />
        <a
          href="mailto:b.bellamy@ssl-conseil.com"
          class="text-xs md:text-sm lg:text-lg whitespace-nowrap justify-self-end text-right text-wrap md:text-nowrap mr-2 md:mr-0"
        >
          contact@ssl-conseil<br class="lg:hidden" />.com
        </a>
      </div>

      <!-- Adresse -->
      <div class="w-full grid grid-cols-[2.75rem,1fr] items-center md:gap-6">
        <img src="maps.svg" alt="localisation" class="w-4 md:w-8 h-4 md:h-8" />
        <p
          class="text-xs md:text-sm lg:text-lg whitespace-nowrap justify-self-end text-right mr-2 md:mr-0"
        >
          Rte de Pech David,<br class="lg:hidden" />31810 VENERQUE
        </p>
      </div>
    </section>
  </section>

  <!-- Copyright en ABSOLUTE en bas -->
  <div class="inset-x-0 bottom-0 border-t border-[#FF8F3A]">
    <div class="max-w-6xl mx-auto px-4 md:px-10 py-1 text-center">
      <p class="text-sm md:text-base">
        © <span class="font-semibold">SSL CONSEIL</span> — Tous droits réservés
      </p>
      <p class="text-xs md:text-sm">
        Développé et designé par <span class="">GT DEVELOPPEMENT</span>
      </p>
    </div>
  </div>
</footer>
