<div class="relative flex justify-center items-center">
  <!-- Bannière en fond -->
  <img
    src="banniere2.jpg"
    alt="banniere"
    class="w-full object-cover h-48 lg:h-96 opacity-60"
  />

  <!-- Bloc logo + bouton centré -->
  <div class="absolute flex flex-col items-center lg:gap-8 mt-6 lg:mt-12">
    <img src="sslconseillogosansfond.png" alt="logo" class="h-20 lg:h-40 mb-4 lg:mb-6" />
    <button
      class=" hidden lg:block text-xs bg-[#ff8f3a] px-4 py-2 text-white rounded-md lg:text-lg font-lato hover:bg-[#c96214]"
    >
      Découvrir nos offres
    </button>
  </div>
</div>
