<h3
  class="text-[#23477d] font-montserrat font-extrabold text-4xl md:text-6xl my-6 ml-2"
>
  Nos prestations
</h3>
<section
  class="bg-white border-2 h-auto my-8 mx-4 rounded-3xl shadow-lg p-1 md:p-6"
>
  <h4
    class="text-[#23477d] font-montserrat font-extrabold text-center text-3xl mb-6"
  >
    Acquisition de Talents
  </h4>
  <section
    class="flex flex-col md:flex-row lg:flex-row justify-center items-center"
  >
    <section class="flex">
      <div class="flex flex-col justify-start w-auto mt-4">
        <img src="graph.svg" alt="stats icon" class="= mx-1 h-11" />
        <h5 class="text-[#13477d] text-center mx-1">Analyse du besoin</h5>
      </div>
      <img src="arrow.svg" alt="arrow" class="hidden md:block w-16" />
    </section>
    <section class="flex">
      <div class="flex flex-col justify-start w-auto mt-4">
        <img src="search.svg" alt="search icon" class="= mx-1 h-11" />
        <h5 class="text-[#13477d] text-center mx-1">Recherche du candidat</h5>
      </div>
      <img src="arrow.svg" alt="arrow" class="hidden md:block w-16" />
    </section>
    <section class="flex">
      <div class="flex flex-col justify-start w-auto mt-4">
        <img src="bubble.svg" alt="bubble icon" class="= mx-1 h-11" />
        <h5 class="text-[#13477d] text-center mx-1">Entretien Candidat</h5>
      </div>
      <img src="arrow.svg" alt="arrow" class="hidden md:block w-16" />
    </section>
    <section class="flex">
      <div class="flex flex-col justify-start w-auto mt-4">
        <img src="eval.svg" alt="evaluation icon" class="= mx-1 h-11" />
        <h5 class="text-[#13477d] text-center mx-1">Évaluation</h5>
      </div>
      <img src="arrow.svg" alt="arrow" class="hidden md:block w-16" />
    </section>
    <section class="flex">
      <div class="flex flex-col justify-start w-auto mt-4">
        <img src="avatar.svg" alt="avatar icon" class="= mx-1 h-11" />
        <h5 class="text-[#13477d] text-center mx-1">Présentation du profil</h5>
      </div>
      <img src="arrow.svg" alt="arrow" class="hidden md:block w-16" />
    </section>
    <section class="flex">
      <div class="flex flex-col justify-start w-auto mt-4">
        <img src="integration.svg" alt="integration icon" class="= mx-1 h-11" />
        <h5 class="text-[#13477d] text-center my-2 mx-1">Intégration</h5>
      </div>
      <img src="arrow.svg" alt="arrow" class="hidden md:block w-16" />
    </section>
    <section class="flex">
      <div class="flex flex-col justify-start w-auto mt-4">
        <img src="follow.svg" alt="following icon" class="= mx-1 h-11" />
        <h5 class="text-[#13477d] text-center mx-1">Suivi</h5>
      </div>
    </section>
  </section>
</section>
<section
  class="bg-white border-2 h-auto my-4 mx-4 rounded-3xl shadow-lg p-1 md:p-6"
>
  <h4
    class="text-[#23477d] font-montserrat font-extrabold text-center text-3xl mb-12"
  >
    Consulting en transformation digitale
  </h4>

  <div class="flex flex-col gap-6 mt-6 md:flex-row md:justify-around">
    <div
      class="flex flex-col items-center text-center gap-2 md:flex-row md:items-center md:text-left"
    >
      <img src="laptop.svg" alt="laptop icon" class="h-12 w-12" />
      <h5 class="text-[#13477d] font-montserrat md:text-lg">
        Audit des processus en place
      </h5>
    </div>

    <div
      class="flex flex-col items-center text-center gap-2 md:flex-row md:items-center md:text-left"
    >
      <img src="settings.svg" alt="settings icon" class="h-12 w-12" />
      <h5 class="text-[#13477d] font-montserrat md:text-lg">
        Optimisation des données
      </h5>
    </div>
  </div>

  <div class="flex flex-col gap-6 mt-6 md:flex-row md:justify-around">
    <div
      class="flex flex-col items-center text-center gap-2 md:flex-row md:items-center md:text-left"
    >
      <img src="tool.svg" alt="tools icon" class="h-12 w-12 ml-2" />
      <h5 class="text-[#13477d] font-montserrat md:text-lg">
        Mise en place des outils digitaux
      </h5>
    </div>

    <div
      class="flex flex-col items-center text-center gap-2 md:flex-row md:items-center md:text-left"
    >
      <img src="consulting.svg" alt="advice icon" class="h-12 w-12" />
      <h5 class="text-[#13477d] font-montserrat md:text-lg md:pr-12">
        Formation et conseils
      </h5>
    </div>
  </div>
</section>
